@model IEnumerable<ProyectoAplicada.Models.Employees>

<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<body id="bodyLogin">
    <header>
        <div class="container">
            <nav>
                <a asp-controller="Home" asp-action="Index">Cerrar sesión</a>
            </nav>

        </div>
    </header>
    <h2>Planilla</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Cédula
                </th>
                <th>
                    Departamento
                </th>
                <th>
                    Salario base
                </th>
                <th>
                    Horas extras
                </th>
                <th>
                    Total a pagar
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ced)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.depto)
                    </td>
                    <td>
                        @("₡" + item.salarioB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horasExtras)
                    </td>
                    <td>
                        @("₡"+item.total)
                    </td>
                    <td>
                        @Html.ActionLink("Actualizar", "EditEmployee", new { id=item.id }) |
                        @Html.ActionLink("Detalles", "DetailsEmployee", new { id=item.id }) |
                        @Html.ActionLink("Eliminar", "DeleteEmployee", new { id=item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>